body{
    font-family: Arial, sans-serif;
    color: black;
    background-color: lightblue;
    background-image: url(../../Fotos/Fondos/luminoso.jpg);
    background-attachment: fixed;
}

header{
    background-color: lightblue;
    color: black;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    border: solid purple 3px;
}

marquee{
    color: black;
    background-color: white;
    font-size: 18px;
    padding: 8px;
}

nav{
    padding: 15px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    background-color: lightseagreen;
    margin: 15px;
}

nav ul li a:hover{
    background-color: darkcyan;
}

main{
    max-width: 1200px;
    margin: 30px;
    padding: 15px;
}


.segmento{
    background-color: darkgray;
    border-radius: 40px;;
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
    border: solid purple 3px;
}

.paravideos{
    place-content: center;
    overflow: auto;
}
.article img{
    max-width: 100%;
    max-height: 100%;
}

h2{
    margin-bottom: 1rem;
    color: darkblue;
    font-family: italic;
}

article{
    border: solid black 1px;
    padding: 15px;
}

#izquierda{
    float: right;
}

aside {
    position: fixed;
    background-color: black;
    width: 100px;
    height: 100px;
    margin-top: 5%;
    padding: 15px;
    border: solid purple 3px;
    right: 0;
    text-align: center;
}

footer{
    background-color: white;
    color: black;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 15px;
    border: solid purple 3px;
}

footer p{
    margin: 0;
    padding: 5px;
}

img{
    height: 190px;
    width: 190px;
}

video{
    height: 400px;
    width: 600px;
    border-radius: 40px;
    border: solid purple 3px;
}

.Orden{
    background-color: white;
    color: black;
    height: 200px;
    width: 80%;
    text-align: center;
    margin: 30px;
    border: solid purple 3px;
    border-radius: 60px;
}